// =============================================================================
//      COLOR CONSTANTS
//
//      variables for hex color values
//
// =============================================================================
$color-white: #fff;
$color-gray-lightest: #EBEFF3;
$color-gray-lighter: #DEE5EB;
$color-pewter: #8394A1;
$color-slate: #5B7183;
$color-charcoal: #1F3340;
$color-black: #000;

$color-steel-blue: #265b80;
$color-steel-blue-darker: #1a4e72;
$color-steel-blue-darkest: #114163;

$color-asparagus: #a4cc44;
$color-leaf: #67A14C;
$color-leaf-dark: #5A953F;
$color-leaf-darker: #4F8B33;

$color-jade-lightest: #E2F6EF;
$color-jade: #4BA389;
$color-jade-darker: #39967D;
$color-jade-darkest: #2D8972;

$color-sky-lightest: #EAF5FC;
$color-mango-lightest: #FFF0E2;

$color-salmon-lightest: #FFECEC;
$color-salmon: #E75656;
$color-salmon-darker: #D54747;
$color-salmon-darkest: #C44242;