// =============================================================================
//      COLOR CONSTANTS
//
//      variables for hex color values
//
// =============================================================================
$willow-color-white: #fff;
$willow-color-black: #000;

$willow-color-steel-blue: #19557f;
$willow-color-steel-blue-dark: #104566;
$willow-color-steel-blue-darker: #0b3d59;

$willow-color-mint: #1a8573;
$willow-color-mint-dark: #136259;
$willow-color-mint-darker: #0b504b;

$willow-color-neutral-lightest: #fff;
$willow-color-neutral-light: #f7f7f7;
$willow-color-neutral: #e9e9e9;
$willow-color-neutral-dark: #757575;
$willow-color-neutral-darker: #2e2e2e;

$willow-color-info-lightest: #d7f4fc;
$willow-color-info-light: #97dff8;
$willow-color-info: #71c6e4;
$willow-color-info-dark: #59b9da;
$willow-color-info-darker: #44a8cb;

$willow-color-success-lightest: #e1f7e3;
$willow-color-success-light: #94d078;
$willow-color-success: #61a044;
$willow-color-success-dark: #4a8a2c;
$willow-color-success-darker: #3b781e;

$willow-color-caution-lightest: #fef0C9;
$willow-color-caution-light: #ffdb7b;
$willow-color-caution: #Fac73e;
$willow-color-caution-dark: #efb10f;
$willow-color-caution-darker: #dea206;

$willow-color-warning-lightest: #feeced;
$willow-color-warning-light: #ff7a7a;
$willow-color-warning: #e75656;
$willow-color-warning-dark: #cd3e3e;
$willow-color-warning-darker: #b33535;