// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
//      OVERLAY
//      used by modals and dialogs... and more things in the future
// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
$willow-component-overlay-background-color: rgba($willow-theme-primary-4, 0.8) !default;

// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
//      DISABLED CURSOR
// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
$willow-component-cursor-disabled: not-allowed !default; //is this helpful?

// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
//      COMPONENT BACKGROUNDS
// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
$willow-component-body-background-color: $willow-theme-base-2 !default;
$willow-component-body-background-color-secondary: $willow-theme-base !default;
$willow-component-body-background-color-em: theme-primary-2 !default;

$willow-component-border-color: $willow-theme-base-3 !default;
$willow-component-border-color-inverse: $willow-theme-base !default;
$willow-component-border-color-secondary: $willow-theme-accent !default;
$willow-component-border-color-disabled: $willow-theme-primary !default;

$willow-component-body-text-color: $willow-theme-text-primary !default;
$willow-component-body-text-color-secondary: $willow-theme-text-secondary !default;
$willow-component-body-text-color-inverse: $willow-theme-text-inverse !default;
$willow-component-body-text-color-disabled: $willow-theme-text-tertiary !default;

$willow-component-blockquote-text-color: $willow-component-body-text-color !default;
$willow-component-blockquote-font-weight: 600 !default;
$willow-component-blockquote-border-color: $willow-component-border-color-secondary !default;

$willow-component-link-color: $willow-theme-primary !default;
$willow-component-link-color-hover: $willow-theme-primary-2 !default;
$willow-component-link-color-focus: $willow-theme-primary !default;
$willow-component-link-color-active: $willow-theme-primary-3!default;
$willow-component-link-color-visited: $willow-theme-primary !default;

$willow-component-link-color-inverse: $willow-theme-text-inverse !default;
$willow-component-link-color-inverse-hover: $willow-theme-base-2 !default;
$willow-component-link-color-inverse-focus: $willow-theme-text-inverse !default;
$willow-component-link-color-inverse-active: $willow-theme-base-3 !default;
$willow-component-link-color-inverse-visited: $willow-theme-text-inverse !default;

$willow-component-table-header-background-color: $willow-theme-primary !default;
$willow-component-table-row-background-color-odd: $willow-theme-base !default;
$willow-component-table-row-background-color-even: $willow-theme-base-2 !default;
$willow-component-table-border-color: $willow-theme-base-3 !default;
$willow-component-table-body-text-color: $willow-theme-text-primary !default;
$willow-component-table-header-text-color: $willow-theme-text-inverse !default;

// >>>>>>>>> Default Text Style Property Set
$willow-component-body-style-default: $willow-text-style-content-1 !default;

// >>>>>>>>> Highlighted Text 
$willow-component-highlighted-text-background-color: $willow-theme-accent !default;
$willow-component-highlighted-text-color: $willow-theme-text-inverse !default;

// >>>>>>>>> Monospace Text
$willow-component-body-text-monospace: $willow-font-family-monospace !default;
$willow-component-body-text-color-monospace: $willow-theme-text-monospace !default;

$willow-component-border-radius-small: 3px !default;
$willow-component-border-radius: 4px !default;
$willow-component-border-radius-large: 5px !default;

$willow-component-border-width: 1px !default;

$willow-content-max-width: 1170px !default;

$willow-list-style-type: square !default;

//// FORMS ////////////////////////////////////////////////////////////////////////////////////////////////
$willow-component-form-background-color: transparent !default;
$willow-component-form-padding: 0 !default;

$willow-component-input-border-color: $willow-theme-base-3 !default;
$willow-component-input-border-color-disabled: $willow-theme-base-3 !default;
$willow-component-input-border-color-invalid: $willow-theme-feedback-negative-5 !default;
$willow-component-input-border-color-valid: $willow-theme-feedback-positive-3 !default;

$willow-component-input-border-width: 2px !default;

$willow-component-input-background-color: $willow-theme-base !default;
$willow-component-input-background-color-checked: $willow-theme-feedback-3 !default;
$willow-component-input-background-color-disabled: transparent !default;
$willow-component-input-background-color-invalid: rgba($willow-theme-feedback-negative-3, 0.15) !default;
$willow-component-input-background-color-valid: rgba($willow-theme-feedback-positive-3, 0.15) !default;

$willow-component-input-box-shadow-color: rgba($willow-theme-black, 0.4) !default;

$willow-component-dropdown-height: 45px !default;
$willow-component-input-height: 25px !default;
$willow-component-input-width: 25px !default;