$willow-component-button-border-radius: $willow-component-border-radius !default;
$willow-component-button-border-color: $willow-theme-text-secondary !default;

// =============================================================================
//      NEUTRAL BUTTONS
// =============================================================================
// Backgrounds
$willow-component-button-background-color: $willow-theme-action !default;
$willow-component-button-background-color-visited: $willow-theme-action !default;
$willow-component-button-background-color-hover: $willow-theme-action-2 !default;
$willow-component-button-background-color-active: $willow-theme-action-3 !default;
$willow-component-button-background-color-focus: $willow-theme-action !default;
$willow-component-button-background-color-disabled: $willow-theme-action-disabled !default;

// Text
$willow-component-button-text-color: $willow-theme-text-inverse !default;
$willow-component-button-text-color-visited: $willow-theme-text-inverse !default;
$willow-component-button-text-color-hover: $willow-theme-text-inverse !default;
$willow-component-button-text-color-active: $willow-theme-text-inverse !default;
$willow-component-button-text-color-focus: $willow-theme-text-inverse !default;
$willow-component-button-text-color-disabled: $willow-component-body-text-color-disabled !default;

// Borders
$willow-component-button-border: $willow-component-border-width solid transparent !default;
$willow-component-button-border-visited: $willow-component-border-width solid transparent !default;
$willow-component-button-border-hover: $willow-component-border-width solid transparent !default;
$willow-component-button-border-active: $willow-component-border-width solid transparent !default;
$willow-component-button-border-focus: $willow-component-border-width solid transparent !default;
$willow-component-button-border-disabled: transparent !default;

// =============================================================================
//      PRIMARY BUTTONS
// =============================================================================
// Backgrounds
$willow-component-button-primary-background-color: $willow-theme-action-primary !default;
$willow-component-button-primary-background-color-visited: $willow-theme-action-primary !default;
$willow-component-button-primary-background-color-hover: $willow-theme-action-primary-2 !default;
$willow-component-button-primary-background-color-active: $willow-theme-action-primary-3 !default;
$willow-component-button-primary-background-color-focus: $willow-theme-action-primary !default;
$willow-component-button-primary-background-color-disabled: $willow-theme-action-disabled !default;

// Text
$willow-component-button-primary-text-color: $willow-theme-text-inverse !default;
$willow-component-button-primary-text-color-visited: $willow-theme-text-inverse !default;
$willow-component-button-primary-text-color-hover: $willow-theme-text-inverse !default;
$willow-component-button-primary-text-color-active: $willow-theme-text-inverse !default;
$willow-component-button-primary-text-color-focus: $willow-theme-text-inverse !default;
$willow-component-button-primary-text-color-disabled: $willow-component-body-text-color-disabled !default;

// Borders
$willow-component-button-primary-border: $willow-component-border-width solid transparent !default;
$willow-component-button-primary-border-visited: $willow-component-border-width solid transparent !default;
$willow-component-button-primary-border-hover: $willow-component-border-width solid transparent !default;
$willow-component-button-primary-border-active: $willow-component-border-width solid transparent !default;
$willow-component-button-primary-border-focus: $willow-component-border-width solid transparent !default;
$willow-component-button-primary-border-disabled: transparent !default;

// =============================================================================
//      POSITIVE BUTTONS
// =============================================================================
// Backgrounds
$willow-component-button-positive-background-color: $willow-theme-action-positive !default;
$willow-component-button-positive-background-color-visited: $willow-theme-action-positive !default;
$willow-component-button-positive-background-color-hover: $willow-theme-action-positive-2 !default;
$willow-component-button-positive-background-color-active: $willow-theme-action-positive-3 !default;
$willow-component-button-positive-background-color-focus: $willow-theme-action-positive !default;
$willow-component-button-positive-background-color-disabled: $willow-theme-action-disabled !default;

// Text
$willow-component-button-positive-text-color: $willow-theme-text-inverse !default;
$willow-component-button-positive-text-color-visited: $willow-theme-text-inverse !default;
$willow-component-button-positive-text-color-hover: $willow-theme-text-inverse !default;
$willow-component-button-positive-text-color-active: $willow-theme-text-inverse !default;
$willow-component-button-positive-text-color-focus: $willow-theme-text-inverse !default;
$willow-component-button-positive-text-color-disabled: $willow-component-body-text-color-disabled !default;

// Borders
$willow-component-button-positive-border: $willow-component-border-width solid transparent !default;
$willow-component-button-positive-border-visited: $willow-component-border-width solid transparent !default;
$willow-component-button-positive-border-hover: $willow-component-border-width solid transparent !default;
$willow-component-button-positive-border-active: $willow-component-border-width solid transparent !default;
$willow-component-button-positive-border-focus: $willow-component-border-width solid transparent !default;
$willow-component-button-positive-border-disabled: transparent !default;

// =============================================================================
//      NEGATIVE BUTTONS
// =============================================================================
// Backgrounds
$willow-component-button-negative-background-color: $willow-theme-action-negative !default;
$willow-component-button-negative-background-color-visited: $willow-theme-action-negative !default;
$willow-component-button-negative-background-color-hover: $willow-theme-action-negative-2 !default;
$willow-component-button-negative-background-color-active: $willow-theme-action-negative-3 !default;
$willow-component-button-negative-background-color-focus: $willow-theme-action-negative !default;
$willow-component-button-negative-background-color-disabled: $willow-theme-action-disabled !default;

// Text
$willow-component-button-negative-text-color: $willow-theme-text-inverse !default;
$willow-component-button-negative-text-color-visited: $willow-theme-text-inverse !default;
$willow-component-button-negative-text-color-hover: $willow-theme-text-inverse !default;
$willow-component-button-negative-text-color-active: $willow-theme-text-inverse !default;
$willow-component-button-negative-text-color-focus: $willow-theme-text-inverse !default;
$willow-component-button-negative-text-color-disabled: $willow-component-body-text-color-disabled !default;

// Borders
$willow-component-button-negative-border: $willow-component-border-width solid transparent !default;
$willow-component-button-negative-border-visited: $willow-component-border-width solid transparent !default;
$willow-component-button-negative-border-hover: $willow-component-border-width solid transparent !default;
$willow-component-button-negative-border-active: $willow-component-border-width solid transparent !default;
$willow-component-button-negative-border-focus: $willow-component-border-width solid transparent !default;
$willow-component-button-negative-border-disabled: transparent !default;

//=============================================================================
//    GHOST BUTTONS
//=============================================================================
// Backgrounds
$willow-component-button-ghost-background-color: transparent !default;
$willow-component-button-ghost-background-color-visited: transparent !default;
$willow-component-button-ghost-background-color-hover: $willow-theme-base !default;
$willow-component-button-ghost-background-color-active: $willow-theme-base-2 !default;
$willow-component-button-ghost-background-color-focus: $willow-theme-base !default;
$willow-component-button-ghost-background-color-disabled: $willow-theme-action-disabled !default;

// Text
$willow-component-button-ghost-text-color: $willow-theme-text-inverse !default;
$willow-component-button-ghost-text-color-visited: $willow-theme-text-inverse !default;
$willow-component-button-ghost-text-color-hover: $willow-theme-text-accent !default;
$willow-component-button-ghost-text-color-active: $willow-theme-text-accent !default;
$willow-component-button-ghost-text-color-focus: $willow-theme-text-accent !default;
$willow-component-button-ghost-text-color-disabled: $willow-theme-text-tertiary !default;

// Borders 
$willow-component-button-ghost-border: 2px solid $willow-theme-base !default;
$willow-component-button-ghost-border-visited: 2px solid $willow-theme-base !default;
$willow-component-button-ghost-border-hover: 2px solid $willow-theme-base !default;
$willow-component-button-ghost-border-active: 2px solid $willow-theme-base !default;
$willow-component-button-ghost-border-focus: 2px solid $willow-theme-base !default;
$willow-component-button-ghost-border-disabled: transparent !default;

// =============================================================================
//      INVERSE GHOST BUTTONS
// =============================================================================
// Backgrounds
$willow-component-button-ghost-inverse-background-color: transparent !default;
$willow-component-button-ghost-inverse-background-color-visited: transparent !default;
$willow-component-button-ghost-inverse-background-color-hover: $willow-theme-primary !default;
$willow-component-button-ghost-inverse-background-color-active: $willow-theme-primary-2 !default;
$willow-component-button-ghost-inverse-background-color-focus: $willow-theme-primary !default;
$willow-component-button-ghost-inverse-background-color-disabled: $willow-theme-action-disabled !default;

// Text
$willow-component-button-ghost-inverse-text-color: $willow-theme-text-accent !default;
$willow-component-button-ghost-inverse-text-color-visited: $willow-theme-text-accent !default;
$willow-component-button-ghost-inverse-text-color-hover: $willow-theme-text-inverse !default;
$willow-component-button-ghost-inverse-text-color-active: $willow-theme-text-inverse !default;
$willow-component-button-ghost-inverse-text-color-focus: $willow-theme-text-inverse !default;
$willow-component-button-ghost-inverse-text-color-disabled: $willow-theme-text-tertiary !default;

// Borders 
$willow-component-button-ghost-inverse-border: 2px solid $willow-theme-primary !default;
$willow-component-button-ghost-inverse-border-visited: 2px solid $willow-theme-primary !default;
$willow-component-button-ghost-inverse-border-hover: 2px solid transparent !default;
$willow-component-button-ghost-inverse-border-active: 2px solid transparent !default;
$willow-component-button-ghost-inverse-border-focus: 2px solid transparent !default;
$willow-component-button-ghost-inverse-border-disabled: transparent !default;
