$willow-component-dialog-background-color: $willow-theme-base !default;
$willow-component-dialog-border-radius: $willow-component-border-radius !default;
$willow-component-dialog-overlay-background-color: $willow-component-overlay-background-color !default;