	//add to new feature component folder
	$willow-component-feature-background-color: $willow-theme-base-2 !default;
	$willow-component-feature-heading-color: $willow-theme-text-accent !default;
	$willow-component-feature-box-shadow-color: rgba($willow-theme-primary-4, 0.15) !default;

	$willow-component-feature-content-max-width: 600px !default;
	$willow-component-feature-content-min-height: 300px !default;
	$willow-component-feature-content-after-width-percent: 89% !default;
	$willow-component-feature-content-background-color: $willow-theme-white !default;

	$willow-component-feature-shadow-border-color: $willow-theme-white !default;
	$willow-component-feature-shadow-background-color: radial-gradient(circle, rgba($willow-theme-base, 0.5) 0%, rgba($willow-theme-base-2, 0.5) 12.52%, rgba($willow-theme-base-3, 0.5) 52.01%, rgba($willow-theme-base-4, 0.1) 100%) !default;
