$willow-component-footer-nav-text-color: $willow-theme-text-inverse !default;
$willow-component-footer-nav-link-color: $willow-theme-text-inverse !default;
$willow-component-footer-nav-link-color-hover: $willow-theme-base-2 !default;
$willow-component-footer-nav-link-color-focus: $willow-theme-text-inverse !default;
$willow-component-footer-nav-link-color-active: $willow-theme-base-3 !default;
$willow-component-footer-nav-link-color-visited: $willow-theme-text-inverse !default;