//Default/Info
$willow-component-global-alert-background-color: $willow-theme-feedback-2 !default;
$willow-component-global-alert-text-color: $willow-theme-text-primary !default;
//Positive
$willow-component-global-alert-positive-background-color: $willow-theme-feedback-positive-2 !default;
$willow-component-global-alert-positive-text-color: $willow-theme-text-primary !default;
//Warning
$willow-component-global-alert-warning-background-color: $willow-theme-feedback-warning-2 !default;
$willow-component-global-alert-warning-text-color: $willow-theme-text-primary !default;
//Negative
$willow-component-global-alert-negative-background-color: $willow-theme-feedback-negative-2 !default;
$willow-component-global-alert-negative-text-color: $willow-theme-text-primary !default;