$willow-component-page-footer-background-color: $willow-theme-primary !default;
$willow-component-page-footer-copyright-text-color: $willow-theme-text-inverse !default;
$willow-component-page-footer-border-color: $willow-color-neutral-light !default;