$willow-component-page-header-background-color: $willow-theme-primary !default;
$willow-component-page-header-site-context-background-color: $willow-theme-base !default;
$willow-component-page-header-navigation-border-color: $willow-theme-primary-3 !default;
//Menu Close Text and Icon
$willow-component-page-header-content-close-color: $willow-theme-text-inverse !default;
$willow-component-page-header-content-close-color-hover: $willow-theme-text-inverse !default;
$willow-component-page-header-content-close-color-active: $willow-theme-text-inverse !default;
$willow-component-page-header-content-close-color-visited: $willow-theme-text-inverse !default;
$willow-component-page-header-content-close-color-focus: $willow-theme-text-inverse !default;
//Menu Open Text and Icon
$willow-component-page-header-content-open-color: $willow-theme-text-inverse !default;
$willow-component-page-header-content-open-color-hover: $willow-theme-text-inverse !default;
$willow-component-page-header-content-open-color-active: $willow-theme-text-inverse !default;
$willow-component-page-header-content-open-color-visited: $willow-theme-text-inverse !default;
$willow-component-page-header-content-open-color-focus: $willow-theme-text-inverse !default;