$willow-component-primary-nav-link-color: $willow-theme-text-inverse !default;
$willow-component-primary-nav-link-color-visited: $willow-theme-text-inverse !default;
$willow-component-primary-nav-link-color-hover: $willow-theme-text-inverse !default;
$willow-component-primary-nav-link-color-active: $willow-theme-text-inverse !default;
$willow-component-primary-nav-link-color-focus: $willow-theme-text-inverse !default;
//Link Background for Hover and Active
$willow-component-primary-nav-link-background-color: initial !default;
$willow-component-primary-nav-link-background-color-visited: inherit !default;
$willow-component-primary-nav-link-background-color-hover: $willow-theme-primary-2 !default;
$willow-component-primary-nav-link-background-color-active: $willow-theme-primary-3 !default;
$willow-component-primary-nav-link-background-color-focus: $willow-theme-primary-2 !default;