$willow-component-secondary-nav-background-color: $willow-theme-base !default;
$willow-component-secondary-nav-border: $willow-component-border-width solid $willow-theme-text-secondary !default;
$willow-component-secondary-nav-link-color: $willow-theme-text-primary !default;
$willow-component-secondary-nav-link-color-hover: $willow-theme-text-primary !default;
$willow-component-secondary-nav-link-color-focus: $willow-theme-text-primary !default;
$willow-component-secondary-nav-link-color-visited: $willow-theme-text-primary !default;
$willow-component-secondary-nav-link-color-active: $willow-theme-text-primary !default;
//Link background and text color for Hover and Active
$willow-component-secondary-nav-link-background-color: initial !default;
$willow-component-secondary-nav-link-background-color-hover: $willow-theme-base-2 !default;
$willow-component-secondary-nav-link-background-color-active: $willow-theme-base-3 !default;
$willow-component-secondary-nav-link-background-color-focus: initial !default;
$willow-component-secondary-nav-link-border-color-active: $willow-theme-accent !default;

$willow-component-secondary-nav-heading-background-color: $willow-theme-primary !default;
$willow-component-secondary-nav-heading-color: $willow-theme-text-inverse !default;