$willow-component-skip-nav-background-color: $willow-theme-accent-2 !default;
$willow-component-skip-nav-link-color: $willow-theme-text-inverse !default;
$willow-component-skip-nav-link-color-hover: $willow-theme-text-inverse !default;
$willow-component-skip-nav-link-color-active: $willow-theme-text-inverse !default;
$willow-component-skip-nav-link-color-visited: $willow-theme-text-inverse !default;