// =============================================================================
//      TEXT STYLE PROPERTY SETS
//
//      Use with set-text-style mixin to set properties on a component or element
//      Example: @include set-text-style($text-style-heading-2);
//
// =============================================================================
// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
//      HEADING STYLES
// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

$line-height-xl: 2;
$line-height-l: 1.75;
$line-height: 1.5;
$line-height-s: 1.4;
$line-height-xs: 1.25;

$text-style-heading-1: (
  family: $font-family-primary,
  desktop-size: 4.8rem,
  desktop-line-height: $line-height-xs,
  mobile-size: 3.0rem,
  mobile-line-height: $line-height-xl,
  weight: normal
) !default;
  
$text-style-heading-2: (
  family: $font-family-primary,
  desktop-size: 2.8rem,
  desktop-line-height: $line-height-s,
  mobile-size: 2.5rem,
  mobile-line-height: $line-height,
  weight: normal
) !default;
    
$text-style-heading-3: (
  family: $font-family-secondary,
  desktop-size: 2.4rem,
  desktop-line-height: $line-height-s,
  mobile-size: 1.9rem,
  mobile-line-height: $line-height-l,
  weight: 600
) !default;

$text-style-heading-4: (
  family: $font-family-secondary,
  desktop-size: 1.8rem,
  desktop-line-height: $line-height-s,
  mobile-size: 1.7rem,
  mobile-line-height: $line-height-s,
  weight: 600
) !default;
  
$text-style-heading-5: (
  family: $font-family-secondary,
  desktop-size: 1.6rem,
  desktop-line-height: $line-height,
  mobile-size: 1.6rem,
  mobile-line-height: $line-height,
  weight: 600
) !default;
          
$text-style-heading-6: (
  family: $font-family-secondary,
  desktop-size: 1.4rem,
  desktop-line-height: $line-height-l,
  mobile-size: 1.4rem,
  mobile-line-height: $line-height-l,
  weight: 600
) !default;

// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
//      STANDARD CONTENT STYLES
// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
$text-style-content-1: (
  family: $font-family-secondary,
  desktop-size: 1.6rem,
  desktop-line-height: $line-height,
  mobile-size: 1.6rem,
  mobile-line-height: $line-height,
  weight: 400
) !default;

$text-style-content-2: (
  family: $font-family-secondary,
  desktop-size: 1.4rem,
  desktop-line-height: $line-height-l,
  mobile-size: 1.4rem,
  mobile-line-height: $line-height-l,
  weight: 400
) !default;

$text-style-content-3: (
  family: $font-family-secondary,
  desktop-size: 1.1rem,
  desktop-line-height: $line-height,
  mobile-size: 1.1rem,
  mobile-line-height: $line-height,
  weight: 400
) !default;