$component-inline-alert-border-radius: $component-border-radius-small;

$component-inline-alert-background-color: tbd !default;
$component-inline-alert-text-color: tbd !default;

$component-inline-alert-positive-background-color: tbd !default;
$component-inline-alert-positive-text-color: tbd !default;

$component-inline-alert-negative-background-color: tbd !default;
$component-inline-alert-negative-text-color: tbd !default;

$component-inline-alert-warning-background-color: tbd !default;
$component-inline-alert-warning-text-color: tbd !default;