@import "variable-maps/variable-maps";
// =============================================================================
//      THEME PALATTE
//      theme specific variables set to descriptive color variables
//      use these when setting values for $willow-component- variables
//      do not use these to set values for properties (i.e. : background-color)
// =============================================================================
$willow-theme-white: $willow-color-white !default;
$willow-theme-black: $willow-color-black !default;

$willow-theme-base: $willow-color-neutral-lightest !default;
$willow-theme-base-2: $willow-color-neutral-light !default;
$willow-theme-base-3: $willow-color-neutral !default;
$willow-theme-base-4: $willow-color-neutral-dark !default;

$willow-theme-primary: $willow-color-steel-blue !default;
$willow-theme-primary-2: $willow-color-steel-blue-dark !default;
$willow-theme-primary-3: $willow-color-steel-blue-darker !default;
$willow-theme-primary-4: $willow-color-neutral-darker !default;

$willow-theme-accent: $willow-color-mint !default;
$willow-theme-accent-2: $willow-color-mint !default;
$willow-theme-accent-3: $willow-color-mint-dark !default;
$willow-theme-accent-4: $willow-color-mint-darker !default;

//FEEDBACK
$willow-theme-feedback: $willow-color-info-lightest !default;
$willow-theme-feedback-2: $willow-color-info-light !default;
$willow-theme-feedback-3: $willow-color-info !default;
$willow-theme-feedback-4: $willow-color-info-dark !default;
$willow-theme-feedback-5: $willow-color-info-darker !default;

$willow-theme-feedback-positive: $willow-color-success-lightest !default;
$willow-theme-feedback-positive-2: $willow-color-success-light !default;
$willow-theme-feedback-positive-3: $willow-color-success !default;
$willow-theme-feedback-positive-4: $willow-color-success-dark !default;
$willow-theme-feedback-positive-5: $willow-color-success-darker !default;

$willow-theme-feedback-warning: $willow-color-caution-lightest !default;
$willow-theme-feedback-warning-2: $willow-color-caution-light !default;
$willow-theme-feedback-warning-3: $willow-color-caution !default;
$willow-theme-feedback-warning-4: $willow-color-caution-dark !default;
$willow-theme-feedback-warning-5: $willow-color-caution-darker !default;

$willow-theme-feedback-negative: $willow-color-warning-lightest !default;
$willow-theme-feedback-negative-2: $willow-color-warning-light !default;
$willow-theme-feedback-negative-3: $willow-color-warning !default;
$willow-theme-feedback-negative-4: $willow-color-warning-dark !default;
$willow-theme-feedback-negative-5: $willow-color-warning-darker !default;

//ACTION COLORS
$willow-theme-action: $willow-color-steel-blue !default; //used for default and focus states
$willow-theme-action-2: $willow-color-steel-blue-dark !default;
$willow-theme-action-3: $willow-color-steel-blue-darker !default;

$willow-theme-action-primary: $willow-color-mint !default; //used for primary default and focus states
$willow-theme-action-primary-2: $willow-color-mint-dark !default;
$willow-theme-action-primary-3: $willow-color-mint-darker !default;

$willow-theme-action-positive: $willow-color-success !default; //used for positive default and focus states
$willow-theme-action-positive-2: $willow-color-success-dark !default;
$willow-theme-action-positive-3: $willow-color-success-darker !default;

$willow-theme-action-negative: $willow-color-warning !default; //used for negative default and focus states
$willow-theme-action-negative-2: $willow-color-warning-dark !default;
$willow-theme-action-negative-3: $willow-color-warning-darker !default;

$willow-theme-action-disabled: $willow-color-neutral !default;

//TEXT COLORS
$willow-theme-text-primary: $willow-color-neutral-darker !default;
$willow-theme-text-accent: $willow-color-steel-blue !default;
$willow-theme-text-inverse: $willow-color-neutral-lightest !default; //used for highlighted t`ext, and text on the alert/feedback colors
$willow-theme-text-secondary: $willow-color-neutral !default; //used for specialized inlines like code, inline quotes, small
$willow-theme-text-tertiary: $willow-color-neutral-dark !default;
$willow-theme-text-monospace: $willow-color-mint !default;